source/*.exe
source/*.dll
*.sym
test/*.exe
test/*.dll
lib/*.dll
nppPlugin/*.dll
*.vs/
build/*.dll
build/*.exe
.pocDebug
.tempOut
.tempSymfile
build/movebin.bat
source/movebin.bat
source/Oberon07.Rtl2.mod